.pet-card {
    border-radius: 7px;
    overflow: hidden;
    /* TODO: integrate with less rather than copy & pasting */
    -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

/*
.pet-card .ant-card-cover {
    border-bottom: 2px solid #B92020;
}

.pet-card .pet-card-name {
    border-bottom: 2px solid #B92020;
}
*/

/** since shadow is shown always, need a different effect on hover **/
.pet-card:hover {
    opacity: .7;
    /*box-shadow: 0 5px 12px 4px #B92020;*/
}

.pet-card .ant-card-body {
    padding: 12px 10px; /* was 24px */
}

.pet-card .pet-card-meta {
    text-align: center;
    margin: 0;
    clear: both;
}

.pet-card .pet-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0 8px 6px;
}

.pet-card .pet-card-breed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pet-card-meta .ant-card-meta-description {
    color: rgba(0, 0, 0, 0.5); /* going the tiniest bit darker from .45 to .50 */
}

.pet-card-distance {
    display: inline;
}

.pet-card-distance::after {content: " - ";}

/* horizontal format - needs work below 375px - height of meta is taller than square image */

.pet-card.horizontal {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.pet-card.horizontal .ant-card-cover {
    width: 40%;
    height: auto;
}

.pet-card.horizontal .ant-card-body {
    width: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.pet-card.horizontal .pet-card-header {
    justify-content: center;
    margin: unset;
}

.pet-card.horizontal .pet-card-meta {
    margin-bottom: 1rem;
}

.pet-card .pet-card-name {
    font-size: 2rem;
    font-weight: 100;
}

.pet-card.horizontal .pet-card-name {
    border-bottom: 1px solid #B92020;
}


/* large horizontal - make fonts bigger and image smaller */
@media (min-width: 481px) {


    .pet-card.horizontal .ant-card-meta-title {
        padding-bottom: 7px;
    }

    .pet-card.horizontal .pet-card-meta .ant-card-meta-description {
        font-size: 16px;
        line-height: 2rem;
    }
}

@media (min-width: 1024px) {
    .pet-card.horizontal .ant-card-cover {
        width: 30%;
    }
}

/* todo: horizontal starts to not work with squares below 386px width */
@media (max-width: 375px) {
    .pet-card {
        font-size: 12px;
    }
    .pet-card.horizontal .pet-card-meta {
        margin-bottom: .5rem;
    }
    .pet-card.horizontal .ant-card-body {
        padding: 0;
    }
}
