/*
 * Common styles below
 */

@font-face {
    font-family: 'icomoon';
    src: url('https://s3.amazonaws.com/filestore.rescuegroups.org/css/fonts/icomoon_v3.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/filestore.rescuegroups.org/css/fonts/icomoon_v3.woff') format('woff'),
    url('https://s3.amazonaws.com/filestore.rescuegroups.org/css/fonts/icomoon_v3.ttf') format('truetype'),
    url('https://s3.amazonaws.com/filestore.rescuegroups.org/css/fonts/icomoon_v3.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: icomoon; /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none; /* Not to be trusted, but hey. */
}

.rgtk-kdnSIt5Z.rgtkHR {
    border-top: rgb(175,175,175) 1px solid;
    margin-top: 6px;
    margin-bottom: 10px;
    height: 1px;
    border: 0;
}

/*
 * Layout styles below
 */

.rgtk-kdnSIt5Z {
    width: 100%;
    background: transparent;
}

.rgtk-kdnSIt5Z .rgtkSearchFormInput, .rgtk-kdnSIt5Z .rgtkSearchFormSelect {
/*    color: ;*/
    margin: 0 3px 0 0;
    padding: 0;
}

.rgtk-kdnSIt5Z .rgtkSearchFormSelect {
    border: 1px solid ;
    padding: 0px;
}

.rgtk-kdnSIt5Z .rgtkSearchFormInput {
    border: 1px solid ;
    padding: 1px;
}

.rgtk-kdnSIt5Z .rgtkSearchForm {
    display: inline;
}

.rgtk-kdnSIt5Z .rgtkSearchForm select {
    width: 150px;
}

.rgtk-kdnSIt5Z .rgtkSearchTable {
    width: 500px;
    margin: auto;
    border: 0;
}

.rgtk-kdnSIt5Z .rgtkSearchTable tbody td {
    padding: 5px 1px;
    vertical-align: top;
    background-color: inherit;
    border: 0;
}

.rgtk-kdnSIt5Z .rgtkSearchTableSpacer {
    width: 10px;
}

.rgtk-kdnSIt5Z .rgtkSearchTable td.tdtext {
    white-space:nowrap;
    text-align:center;
}

.rgtk-kdnSIt5Z .rgtkSearchFormTitle {
    font-weight: bold;
    text-align:right;
}

.rgtk-kdnSIt5Z .rgtkSearchLabel {
    font-weight:700;
}

.rgtk-kdnSIt5Z .rgtkSearchResultsTable {
    table-layout: fixed;
    width: 100%;
}

.rgtk-kdnSIt5Z .rgtkSearchResultsTable td {
    background-color: inherit;
    border: 0;
}

.rgtk-kdnSIt5Z .rgtkSearchResultsCell {
    height: 110px;
    padding-left: 6px;
    vertical-align: top;
}

.rgtk-kdnSIt5Z .rgtkSearchPrevPageLink {
    float: left;
}

.rgtk-kdnSIt5Z .rgtkSearchNextPageLink {
    float: right;
}

.rgtk-kdnSIt5Z .rgtkSearchPetPic {
    background-repeat: no-repeat;
    background-size: 100%;
}

.rgtk-kdnSIt5Z .rgtkSearchPetPictureBox img {
    border: 1px solid ;
}

.rgtk-kdnSIt5Z .rgtkSearchPetPicture a {
    text-decoration: none;
}

.rgtk-kdnSIt5Z .rgtkSearchPetPicFixed {
    height: 150px;
    width: 150px;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.rgtk-kdnSIt5Z .rgtkSearchPetPictureMissing {
    width:100px;
    height:60px;
    padding-top:10px;
    text-align:center;
    vertical-align:center;
/*    color: ; */
    border: 1px solid ;
}

.rgtk-kdnSIt5Z .rgtkSearchPetPictureMissing span {
    line-height: 50px;
    font-size: 275%;
}

.rgtk-kdnSIt5Z .rgtkClearBoth {
    clear: both;
    visibility: hidden;
}

.rgtk-kdnSIt5Z .rgtkSearchFoundSummary {
    width: 100%;
    text-align: center;
}

.rgtk-kdnSIt5Z .rgtkSearchPageLinks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rgtk-kdnSIt5Z .rgtkSearchPageLinks a:hover {
    background-color: #FFFFFF;
    text-decoration: none;
}

.rgtk-kdnSIt5Z .rgtkSearchPetName {
    font-weight: bold;
}

.rgtk-kdnSIt5Z .rgtkSearchPageLinks a {
    margin-left: 5px;
    margin-right: 5px;
}

.rgtk-kdnSIt5Z .rgtkSearchNoResults {
    text-align:center;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rgtk-kdnSIt5Z .rgtkSearchFieldGroupTitle {
    font-weight: bold;
    margin-bottom: 3px;
}

.rgtk-kdnSIt5Z .rgtkSearchFormSubFieldTable {
    margin: auto;
    border: 0;
}

.rgtk-kdnSIt5Z .rgtkSearchFormSubFieldTable td {
    width: 25%;
    vertical-align: top;
    font-size: smaller;
    background: inherit;
    border: 0;
}

.rgtk-kdnSIt5Z .rgtkSearchFormSubmitButton {
 /*   color: ; */
 /*   background-color: ; */
    border: 1px solid ;
    padding-right: 18px;
    padding-left: 18px;
}

.rgtk-kdnSIt5Z .rgtkSearchPetBreed {
    font-weight: bold;
}

.rgtk-kdnSIt5Z .rgtkSearchNoResults {
    text-align: center;
}
/*
 * Pet styles below
 */

.rgtkPetContainer {
    padding: 7px;
}

.rgtkPetFieldDescription {
    padding: 15px;
}

.rgtkPetFieldDescription, .rgtkPetFieldDescription * {
 /*   font-size:  !important; */
 /*   font-family:  !important; */
}

.rgtkPetInfoIndented {
    margin-left: 14px;
}

.rgtkPetTitleName {
    text-align: center;
/*    color: ; */
    font-size: 2em;
    font-weight: 700;
    padding-left: 7px;
    padding-right: 7px;
}

.rgtkPetTitleName {
    clear: both;
    margin-bottom: 5px;
}

.rgtkPetReturntoSearch {
    padding: 8px 8px 8px 0px;
    margin-bottom: 12px;
    clear: both;
}

.rgtkPetBrowseBox {
    height: 60px;
    vertical-align: middle;
    cursor: pointer; cursor: hand;
/*    color: ; */
}

.rgtkPetBrowsePetPicPrev {
    border: 1px solid ;

}

.rgtkPetBrowsePetPicNext {
    border: 1px solid ;

}

.rgtkPetBrowseBoxPrev, .rgtkPetBrowseBowPrevArrow, .rgtkPetBrowsePetPicMissingPrev, .rgtkPetBrowsePetPicMissingNext {
    float: left;
}

.rgtkPetBrowseBoxNext, .rgtkPetBrowseBoxNextArrow {
    float: right;
}

.rgtkPetBrowseBoxArrow {
    margin-top: auto;
    margin-left: auto;
    height: 100%;
    border: 1px solid ;
}

.rgtkPetBrowseBoxArrow span {
    font-size: 150%;
    line-height: 57px;
}

.rgtkPetBrowseBoxPrevArrow {
    float: left;
    border-right: 0;
}

.rgtkPetBrowseBoxNextArrow {
    float: right;
    border-left: 0;
}

.rgtkPetBrowsePetPic {
/*    color: ; */
    height: 60px;
    width: 60px;
    float: right;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
}

.rgtkPetBrowsePetPicMissing, .rgtkPetRecentPetPicMissing {
    height: 60px;
    width: 60px;
    text-align: center;
}

.rgtkPetBrowsePetPicMissingPlaceholder, .rgtkPetRecentPetPicMissingPlaceholder {
    font-size: 250%;
    line-height: 60px;
}

.rgtkPetHeaderInfo {
    width:100%;
    text-align:center;
}

.rgtkPetBrowsePetsBox:after {
    clear:both;
}

.rgtkPetInfoTop {
    margin:auto;
    padding: 9px;
    width:290px;
    text-align:center;
    font-weight:bold;
}

.rgtkPetInfoBox {
    border: 1px solid ;
    margin: 15px 0 10px 10px;
    width: 220px;
    padding: 9px;
    overflow: hidden;
    padding-bottom: 24px;
    float: right;
}

.rgtkClearBoth {
    clear: both;
    visibility: hidden;
    margin: 0;
}

.rgtkPetRecentHeader {
    margin-bottom: 6px;
}

.rgtkPetRecentBox {
    float:left;
    cursor: pointer; cursor: hand;
    margin-right: 9px;
    border: 1px solid ;
}

.rgtkPetRecentPetPic {
    float: left;
    margin-bottom: 10px;
}

.rgtkPetRecentPetPicActual {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: 50% 50%;
}

.rgtkPetContactInfoBox, .rgtkPetOrgInfoBox {
    margin-top: 10px;
}

.rgtkPetBoxTitle {
    font-weight: bold;
}

.rgtkPetPicturePrimaryTable {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 6px;
    display: table;
}

.rgtkPetPicturePrimary {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid ;
}

.rgtkPetPicturePrimary img {
}

.rgtkPetExtraMediaTable {
    margin-left: auto;
    margin-right: auto;
}

.rgtkPetExtraMediaTable img {
    border: 1px solid ;
    margin-right: 5px;

}

.rgtkPetInfoTitle {
    font-weight: bold;
    width: 85px;
    vertical-align: top;
}

.rgtkPetInfoValue {
    vertical-align: top;
    width:205px;
}

.rgtkPetShareCell a {
    text-decoration: none;
}

.rgtkPetShareIcon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 6px;
    cursor: pointer; cursor: hand;
}

.rgtkPetShareFacebook {
    background-image: url(https://s3.amazonaws.com/imagesroot.rescuegroups.org/social_icons/fc-webicon-facebook-s.png);
}

.rgtkPetShareTwitter {
    background-image: url(https://s3.amazonaws.com/imagesroot.rescuegroups.org/social_icons/fc-webicon-twitter-s.png);
}

.rgtkPetShareGooglePlus {
    background-image: url(https://s3.amazonaws.com/imagesroot.rescuegroups.org/social_icons/fc-webicon-googleplus-s.png);
}

.rgtkPetSharePinterest {
    background-image: url(https://s3.amazonaws.com/imagesroot.rescuegroups.org/social_icons/fc-webicon-pinterest-s.png);
}

.rgtkPetShareEmail {
    background-image: url(https://s3.amazonaws.com/imagesroot.rescuegroups.org/social_icons/fc-webicon-mail-s.png);
}

.rgtkPetPrint a {
    text-decoration: none;
    color: black;
}

.rgtkPetInfoButton {
    margin: 4px;
}

.rgtkPetInfoButton a {
    text-decoration: none;
}

.rgtkPetFieldStatus {
    margin-top: 3px;
}
/*
 * Custom styles below
 */
