.pet-profile {
}

.profile-body {
    padding: 3%;
}

.pet-profile .top-titles {
    text-align: center;
    border-top: 4px solid #B92020;
}

.pet-profile h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

h1.pet-name > span.name {
    font-weight: bold;
}

h1.pet-name > span.meet {
    font-weight: 100;
}

/**
flex direction on small screens doesn't work with antd list
 */
.pet-profile .fact-box .ant-list-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

li.ant-list-item {
    /* display: block; */
    flex: 1;
    width: 25%;
    min-width: 150px;
}

/**
* fact box either on left or across top
 */
@media (min-width: 768px) {
    /*
    .pet-profile .profile-body {
        display: flex;
    }
    .pet-profile .profile-body > .facts {
        width: 25%;
        padding-right: 3%;
    }
    .pet-profile .profile-body > .description {
        flex: 1;
    }
    .pet-profile .profile-body > .facts .ant-col {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
     */
}

@media (max-width: 767px) {
}

.pet-profile .description {
    font-size: 1.25rem;
    line-height: 2rem;
}

.pet-profile .sex-icon {
    color: #cc0000;
}

.pet-profile .sex-icon,
.pet-profile .age-number {
    font-size: 120%;
}

.pet-profile .age-number {
    font-weight: bold;
}

.pet-profile .back {
    padding: 10px;
}

.pet-profile .back a {
    color: #cc0000;
}

.pet-profile .back .icon {
    margin-right: 5px;
}

.recently-viewed {
    text-align: center;
}

.recently-viewed .thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recent-pet {
    flex: 1 1 100px;
    max-width: 150px;
    margin: 0 15px;
}

a .recent-pet {
    color: #cc0000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.recent-pet .image {
    border-radius: 10px;
}
