@import "~antd/dist/antd.less";

.facts-section {
  margin-bottom: 2rem;

  .bullet {
    padding: 15px;

    & > .icon {
      margin-right: 10px;
      color: @primary-color;
    }
  }
}

/* todo: no min-width if only one item in section */
