@import "~antd/dist/antd.less";

.pet-profile {
  .profile-body {
    padding: 3%;
  }

  .top-titles {
    text-align: center;
    border-top: 4px solid @primary-color;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;

    & > span.name {
      font-weight: bold;
    }

    & > span.meet {
      font-weight: 100;
    }
  }

  .description {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .sex .icon {
    color: @primary-color;
  }

  .sex .icon,
  .age-number {
    font-size: 120%;
  }

  .age-number {
    font-weight: bold;
  }

  .back {
    padding: 10px;

    a {
      color: @primary-color;
    }

    .icon {
      margin-right: 5px;
    }
  }
}
