.shelter-box .ant-card-body {
  padding-left: 0;
  padding-right: 0;
}

.shelter-box .action-group {
  display: flex;
  /*.ant-card-actions > li:not(:last-child)*/
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
}

.shelter-box .content-area {
  flex: 1;
}

.shelter-box .icon-area {
  color: #565656;
  padding: 10px;
  border-right: 1px solid #f0f0f0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.shelter-box .icon-area .anticon {
  font-size: 125%;
  margin-bottom: 5px;
}

.shelter-box .icon-area .label {
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
}
