@import "~antd/dist/antd.less";

/* dos and don'ts */
.dos-donts {
  font-size: 1.5rem;
  .label {
    color: @primary-color;
    .text {
      color: black;
      &::after {
        content: ":";
      }
    }
    .icon {
      margin-right: 1rem;
    }
  }
}
