.images-trio {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.trio {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 4px 4px 10px 0 #777777;
    margin: 15px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    transition: width 2s, height 2s;
}

img.trio.primary {
    max-height: 500px;
    max-width: 500px;
}

.side-image {
    flex: 1;
    flex-basis: 300px;
    display: flex;
}

.side-image.previous {
    justify-content: flex-end;
}
.side-image.next {
    justify-content: flex-start;
}

.transition-primary-exit-active {
    transition: width 2ms, height 2ms;
}
